{% extends 'video/base.html' %}
{% load static %}
{% block title %} Password Reset Successfully {% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center">PASSWORD RESET COMPLETE</h3>
            <hr>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                        title: 'Success!',
                        text: 'You Password Reset Was Successful, Login To Continue',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                });
            </script>
            <h5 class="text-center pt-4">Click The Button To Login</h5>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" style="cursor: pointer;">
                        <a style="color: white;" class="text-decoration-none" href="{% url 'login' %}">Login</a>
                    </button>
                </div>
            </div>
            

        </div>
</div>
</div>
</div>
{% endblock main-content %}