{% extends 'video/base.html' %}
{% load static %}
{% block title %} Password Reset Done {% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-heading text-center">PASSWORD RESET DONE</h3>
            <hr>
            <div class="alert alert-info text-center">
                A Mail Has Been Sent With Instructions To Reset Your Password <b>Please Check Your email</b>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}